<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Algoritmos Genéticos</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"></li>
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">
</head>
<body ng-app="Ag" ng-controller="AgCtrl">
  <div class="col text-center py-5 bg-dark text-white mb-3">
    <h1>Algoritmos Genéticos</h1>
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="pills-home" aria-selected="true">Ejecutar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="pills-profile" aria-selected="false">Plot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#contact" role="tab" aria-controls="pills-contact" aria-selected="false">Prueba</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#Multiples" role="tab" aria-controls="pills-contact" aria-selected="false">Múltiples</a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">
    <!--
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
    -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

      <div class="col col-md-8 offset-md-2">
        <div class="row">
          <div class="col">
            <label for="">Elija la Función</label>
            <select name="" id="" class="form-control" ng-options="f as f.nombre for f in funciones" ng-model="funcion_elegida" data-ng-change="cambiarFuncion()">
              
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="">Ingrese los Límites</label>
            <form name="FormBounds" class="input-group">
              <div class="input-group-prepend">
                <label for="minimo" class="input-group-text ">Mínimo</label>
              </div>
              <input type="number" min="-1000" max="1000" class="form-control" id="minimo" name="minimo" required="required" required ng-model="nuevoBound.min">
              <div class="input-group-addon">
                <label for="maximo" class="input-group-text rounded-0">Máximo</label>
              </div>
              <input type="number" min="-1000" max="1000" class="form-control" id="maximo" name="maximo" required="required" required ng-model="nuevoBound.max">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" ng-disabled="FormBounds.$invalid || nuevoBound.min > nuevoBound.max" ng-click="agregarBound()">Agregar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row my-2 justify-content-center" ng-if="bounds.length > 0">
          <div class="d-inline align-middle mx-1 my-3" ng-repeat="bound in bounds">
            <span class="border border-right-0  border-danger p-2 rounded-left">
              <strong>Mínimo :</strong> {{bound.min}}, <strong>Máximo :</strong> {{bound.max}}  
            </span>
            <span class="bg-danger text-white border border-left-0  border-danger p-2 rounded-right"  ng-click="bounds.splice($index,1)">
              <i class="fa fa-remove"></i>
            </span>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <form name="Poblacion" class="form-group">
              <label for="cantidad_poblacion" class="">Cantidad de Individuos</label>
              <input type="number" class="form-control" ng-model="cantidad_poblacion" name="cantidad_poblacion" id="cantidad_poblacion" required="required" required max="1000">
            </form>
          </div>
          <div class="col-6">
            <form name="Generaciones" class="form-group">
              <label for="numero_generaciones" class="">Número de Generaciones</label>
              <input type="number" class="form-control" ng-model="numero_generaciones" name="numero_generaciones" id="numero_generaciones" required="required" required max="1000">
            </form>
          </div>
        </div>
        <form action="valores_algoritmo">
          <div class="row">
            <div class="col">
              <label for="porcentaje_emparejamiento" class="">Porcentaje de Emparejamiento</label>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-3">
              <input type="number" class="form-control" ng-model="porcentaje_emparejamiento" name="porcentaje_emparejamiento" id="porcentaje_emparejamiento" required="required" required min="0" max="{{cantidad_poblacion - Math.ceil(cantidad_poblacion*porcentaje_mutacion) - Math.ceil(cantidad_poblacion*porcentaje_elite)}}" step="0.01">
            </div>
            <div class="col-8 d-flex align-items-center">
              
              <input type="range" step="0.01" class="custom-range" ng-model="porcentaje_emparejamiento" name="porcentaje_emparejamiento" id="cantidad_emparejamiento_range" required="required" required min="0" max="{{ (cantidad_poblacion - Math.ceil(cantidad_poblacion*porcentaje_mutacion) - Math.ceil(cantidad_poblacion*porcentaje_elite) ) / cantidad_poblacion}}" >
            </div>
            <div class="col-1  d-flex align-items-center justify-content-center"><span data-ng-if="!Number.isNaN(Math.ceil(cantidad_poblacion*porcentaje_emparejamiento))">{{ Math.ceil(cantidad_poblacion*porcentaje_emparejamiento) }}</span></div>
          </div>
          <div class="row">
            <div class="col"> 
              <label for="porcentaje_mutacion" class="">Porcentaje de Mutación</label>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <input type="number" class="form-control" ng-model="porcentaje_mutacion " name="porcentaje_mutacion" id="porcentaje_mutacion" required="required" required min="0" max="{{ (cantidad_poblacion - Math.ceil(cantidad_poblacion*porcentaje_emparejamiento) - Math.ceil(cantidad_poblacion*porcentaje_elite) ) / cantidad_poblacion}}" ng-class="{'is-invalid':valores_algoritmo.$invalid}" step="0.01">
            </div>
            <div class="col-8 d-flex align-items-center">
              <input type="range" step="0.01" class="custom-range" ng-model="porcentaje_mutacion" name="porcentaje_mutacion" id="porcentaje_mutacion_range" required="required" required min="0" max="{{ (cantidad_poblacion - Math.ceil(cantidad_poblacion*porcentaje_emparejamiento) - Math.ceil(cantidad_poblacion*porcentaje_elite) ) / cantidad_poblacion}}">
            </div>
            <div class="col-1 d-flex align-items-center  justify-content-center"><span data-ng-if="!Number.isNaN(Math.ceil(cantidad_poblacion*porcentaje_mutacion))">{{ Math.ceil(cantidad_poblacion*porcentaje_mutacion) }}</span></div>
          </div>
          <div class="row">
            <div class="col">
              <label for="porcentaje_elite" class="">Porcentaje de Élites</label>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <input type="number" class="form-control" ng-model="porcentaje_elite" name="porcentaje_elite" id="porcentaje_elite" required="required" required min="0" max="{{ (cantidad_poblacion - Math.ceil(cantidad_poblacion*porcentaje_mutacion) - Math.ceil(cantidad_poblacion*porcentaje_emparejamiento) ) / cantidad_poblacion}}" step="0.01">
            </div>
            <div class="col-8 d-flex align-items-center">
              <input type="range" step="0.01" class="custom-range" ng-model="porcentaje_elite" name="porcentaje_elite" id="porcentaje_elite" required="required" required min="0" max="{{ (cantidad_poblacion - Math.ceil(cantidad_poblacion*porcentaje_mutacion) - Math.ceil(cantidad_poblacion*porcentaje_emparejamiento) ) / cantidad_poblacion}}">
            </div>
            <div class="col-1 d-flex align-items-center  justify-content-center"><span data-ng-if="!Number.isNaN(Math.ceil(cantidad_poblacion*porcentaje_elite))">{{ Math.ceil(cantidad_poblacion*porcentaje_elite) }}</span></div>
          </div>
          <div class="row">
            <div class="col">
              <label for="factor_crecimiento" class="">Factor de Crecimiento</label>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <input type="number" class="form-control" ng-model="factor_crecimiento" name="factor_crecimiento" id="factor_crecimiento" required="required" required min="0" max="1" step="0.01">
            </div>
            <div class="col-9 d-flex align-items-center">
              <input type="range" step="0.01" class="custom-range" ng-model="factor_crecimiento" name="factor_crecimiento" id="factor_crecimiento" required="required" required min="0" max="1">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="factor_decrecimiento" class="">Factor de Decrecimiento</label>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <input type="number" class="form-control" ng-model="factor_decrecimiento" name="factor_decrecimiento" id="factor_decrecimiento" required="required" required min="0" max="1" step="0.01">
            </div>
            <div class="col-9 d-flex align-items-center">
              <input type="range" step="0.01" class="custom-range" ng-model="factor_decrecimiento" name="factor_decrecimiento" id="factor_decrecimiento" required="required" required min="0" max="1">
            </div>
          </div>
        </form>
        <div class="row my-3">
          <div class="col-md-6 offset-md-3 ">
            <div class="btn-group w-100">
              <button class="btn btn-primary w-100" ng-disabled="Poblacion.$invalid || Generaciones.$invalid || valores_algoritmo.$invalid || !bounds || bounds.length < 1" ng-click="ejecutarAlgoritmo()" >Ejecutar Algoritmo</button>
              <button class="btn btn-primary w-100" ng-disabled="!poblacion || poblacion.length < 1  || !elites || elites.length < 1"  data-toggle="modal" data-target="#modal" ng-click="mostrarAlgoritmo()">Mostrar</button>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-6 offset-md-3">
            <div class="btn-group w-100">
              <button class="btn btn-primary w-100" ng-disabled="Poblacion.$invalid || Generaciones.$invalid || valores_algoritmo.$invalid || !bounds || bounds.length < 1" ng-click="ejecutarAlgoritmoPobDin()" >Ejecutar Algoritmo Pob. Din.</button>
              <button class="btn btn-primary w-100" ng-disabled="!poblacion_agpd || poblacion_agpd.length < 1  || !elites_agpd || elites_agpd.length < 1"  data-toggle="modal" data-target="#modal" ng-click="mostrarAlgoritmoGPD()">Mostrar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
    -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


      <div class="col">
        <div class="row">
          <div class="col ">
            <h3 class="text-center">Plotear</h3>
          </div>
        </div>
        <div class="row my-2">
          <div class="col col-md-6 offset-md-3">
            <div class="form-group">
              <label for="cantidad_puntos" class="control-label">Resolución de las gráfica</label>
              <input type="number" class="form-control" id="cantidad_puntos" ng-model="cantidad_de_puntos" ng-init="41" min="0" max="200">
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col col-md-4 offset-md-2 col-lg-2 offset-lg-4">
            <button class="btn btn-primary btn-block" ng-click="plotear()">PLOTEAR</button>
          </div>
          <div class="col col-md-4 col-lg-2 ">
            <button class="btn btn-primary btn-block" ng-click="plotearPD()">PLOTEAR PD</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col w-100 h-100  text-center">
                <div id="grafica"></div>
              </div>
            </div>
            <div class="row">
              <div class="col w-100 h-100  text-center">
                <div id="lineas"></div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col w-100 h-100  text-center">
                <div id="graficapd"></div>
              </div>
            </div>
            <div class="row">
              <div class="col w-100 h-100  text-center">
                <div id="lineaspd"></div>
              </div>
            </div>
            <div class="row">
              <div class="col w-100 h-100  text-center">
                <div id="poblacionespd"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
        ////////
    -->
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row my-3">
        <div class="col-md-6 offset-md-3">
          <div class="btn-group w-100">
            <button class="btn btn-primary w-100" ng-disabled="bounds.length < 1 || Poblacion.$invalid " ng-click="generarPoblacion()">Generar Población</button>
            <button class="btn btn-primary w-100" ng-disabled="!poblacionGenerada || poblacionGenerada.length < 0" data-toggle="modal" data-target="#modal" ng-click="mostrarPoblacionGenerada()">Mostrar</button>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-6 offset-md-3">
          <div class="btn-group w-100">
            <button class="btn btn-primary w-100" ng-disabled="!poblacionGenerada || poblacionGenerada.length < 0" ng-click="seleccionarPoblacion()" >Seleccionar Población</button>
            <button class="btn btn-primary w-100" ng-disabled="!poblacionSeleccionada || poblacionSeleccionada.length < 0"  data-toggle="modal" data-target="#modal" ng-click="mostrarPoblacionSeleccionada()">Mostrar</button>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-6 offset-md-3">
          <div class="btn-group w-100">
            <button class="btn btn-primary w-100" ng-disabled="!poblacionSeleccionada || poblacionSeleccionada.length < 0" ng-click="emparejarPoblacion()" >Emparejar Población</button>
            <button class="btn btn-primary w-100" ng-disabled="!poblacionEmparejada || poblacionEmparejada.length < 0"  data-toggle="modal" data-target="#modal" ng-click="mostrarPoblacionEmparejada()">Mostrar</button>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-6 offset-md-3">
          <div class="btn-group w-100">
            <button class="btn btn-primary w-100" ng-disabled="!poblacionEmparejada || poblacionEmparejada.length < 0 || ProbMutacion.$invalid" ng-click="mutarPoblacion()" >Mutación Población</button>
            <button class="btn btn-primary w-100" ng-disabled="!poblacionMutada || poblacionMutada.length < 0"  data-toggle="modal" data-target="#modal" ng-click="mostrarPoblacionMutada()">Mostrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade col-12" id="Multiples" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row my-3">
        <div class="col-md-6 offset-md-3">
          <div class="form-group">
            <label for="" class="control-label">Cantidad de veces a ejecutar algoritmo</label>
            <input type="text" class="form-control" data-ng-model="multiples">
            <button class="btn btn-outline-success my-3 btn-block" ng-disabled="Poblacion.$invalid || Generaciones.$invalid || valores_algoritmo.$invalid || !bounds || bounds.length < 1" data-ng-click="ejecucionesMultiples()">Ejecutar algoritmos</button>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-6 offset-md-3">
          <button class="btn btn-warning btn-block" ng-click="plotearMultiples()" data-ng-disabled="">Plotear</button>
        </div>
      </div>
      <div class="row my-1" data-ng-if="poblaciones_comun_m && poblaciones_agpd_m">
        <div class="col-md-6">
          <h2>Algoritmo genético con población estática</h2>
          <p class="mt-1 mb-0"><strong>Tiempo de ejecución:</strong> {{tiempo_comun | hhmmss}}</p>
          <p class="my-0" data-ng-class="{'text-success':mejor_elite_comun.fitness>mejor_elite_agpd.fitness,'text-danger':mejor_elite_comun.fitness<mejor_elite_agpd.fitness}"><strong>Mejor Resultado:</strong> {{mejor_elite_comun.fitness}}</p>
          <p class="my-0"><strong>Peor Resultado:</strong> {{peor_elite_comun.fitness}}</p>
          <div id="multiples1"></div>
        </div>
        <div class="col-md-6">
          <h2>Algoritmo genético con población dinámica</h2>
          <p class="mt-1 mb-0">Tiempo de ejecución : {{tiempo_agpd | hhmmss}}</p>
          <p class="my-0" data-ng-class="{'text-success':mejor_elite_comun.fitness<mejor_elite_agpd.fitness,'text-danger':mejor_elite_comun.fitness>mejor_elite_agpd.fitness}"><strong>Mejor Resultado:</strong> {{mejor_elite_agpd.fitness}}</p>
          <p class="my-0"><strong>Peor Resultado:</strong> {{peor_elite_agpd.fitness}}</p>
          <div id="multiples2"></div>
        </div>
      </div>
      <div class="row my-1">
        <div class="col-md-6">
          <div id="barras1"></div>
        </div>
        <div class="col-md-6">
          <div id="barras2"></div>
        </div>
      </div>
      <div class="row my-1">
        <div class="col">
          <div id="poblacionesmultiples"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{tituloModal}}</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body " style="max-height: 500px;overflow-y: scroll;">
          <div class="row">
            <div class="col text-center">
              <p ng-repeat="i in individuos track by $index">Individuo {{ $index }}: {{i}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="funciones/ShuffleArray.js"></script>
<script type="text/javascript" src="funciones/AleatorioIntervalo.js"></script>
<script type="text/javascript" src="funciones/EnteroAleatorio.js"></script>
<script type="text/javascript" src="funciones/GenerarPoblacion.js"></script>
<script type="text/javascript" src="funciones/EjecutarFitness.js"></script>
<script type="text/javascript" src="funciones/seleccion.js"></script>
<script type="text/javascript" src="funciones/Emparejamiento.js"></script>
<script type="text/javascript" src="funciones/Mutacion.js"></script>
<script type="text/javascript" src="funciones/Generacion.js"></script>
<script type="text/javascript" src="funciones/AlgoritmoGenetico.js"></script>
<script type="text/javascript" src="funciones/AlgoritmoGeneticoConPoblacionDinamica.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/ploty.min.js"></script>
</html>

